header{
    width:99%;
    height:125px; 
    border-radius:8px;
    border: 2px solid black
}

 body {
    background-color: #999;
 }

.head {
    text-align:center;
}
div#tableContainer {
    display: table;
    border-spacing: 10px;
    margin-left:  auto;
    margin-right:  auto;

}

div#tableRow1 {
    display:  table-row;
}
div#tableRow2 {
    display:  table-row;
}
div#tableRow3 {
    display:  table-row;
}
.pc1,
.pc2,
.pc3,
.pc4,
.pc5,
.pc6,
.pc7,
.pc8,
.pc9,
.pc10,
.pc11,
.pc12
{
    border: 2px solid black;
    display:table-cell;
    width:300px;
    height:250px;
    overflow:hidden;
}
.infoPc1,
.infoPc2,
.infoPc3,
.infoPc4,
.infoPc5,
.infoPc6,
.infoPc7,
.infoPc8,
.infoPc9,
.infoPc10,
.infoPc11,
.infoPc12 {
  /*margin-top:-250px;*/
    width:100%;
    height:100%;
    background-color: black;
    display: none;
}



